h1{
    font-family: 'Trebuchet MS', sans-serif;
    font-weight: 200;
    font-size: 1.5rem;
}

h2{
    font-family: 'Trebuchet MS', sans-serif;
    font-weight: 200;
    font-size: 1.25rem;
}

#label-box{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

#container{
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 48vw;
    height: 32vw;
    border: 2px solid black;
}